@font-face {
    font-family: 'Canela';
    src: url('Canela-Light.eot');
    src: url('Canela-Light.eot?#iefix') format('embedded-opentype'),
        url('Canela-Light.woff2') format('woff2'),
        url('Canela-Light.woff') format('woff'),
        url('Canela-Light.ttf') format('truetype'),
        url('Canela-Light.svg#Canela-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('GothamMedium.eot');
    src: url('GothamMedium.eot?#iefix') format('embedded-opentype'),
        url('GothamMedium.woff2') format('woff2'),
        url('GothamMedium.woff') format('woff'),
        url('GothamMedium.ttf') format('truetype'),
        url('GothamMedium.svg#GothamMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GothamBook';
    src: url('GothamBook.eot');
    src: url('GothamBook.eot?#iefix') format('embedded-opentype'),
        url('GothamBook.woff2') format('woff2'),
        url('GothamBook.woff') format('woff'),
        url('GothamBook.ttf') format('truetype'),
        url('GothamBook.svg#GothamBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

