 .btn{
	 transition: all 0.5s ease-in-out;
}

.card .btn, .steps > div .expand, .page-template-template-register .type3-v2 .flex-wrap .content-inner .steps > div, .hmedium.heading-1 a {
-moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.btn:not(.nobg):hover{
	background-color: #e1c6a6;
}

.hmedium.heading-1 a{
	text-decoration: none;
}

.hmedium.heading-1 a:hover{
		color: #c38d4d;

}

.card .image span{
	font-family: 'Gotham'!important;
    letter-spacing: 0.2em!important;
    text-transform: uppercase!important;
    font-size: 9px!important;
    line-height: 15px!important;
	font-weight: 400!important;
}

.card .heading-1{
	text-decoration: none;
	-moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.card a.heading-1:hover{
	color: #c38d4d;
}

footer .one-half.left > nav{
	padding-top:120px;
}

footer ul.fmenu-line li{
	padding-bottom:0;
}

.hbig, .hmedium{
-webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  }
  
  .steps .hmedium:before{
	  font-weight: bold;
  }
  
   .searchbox .flex-search input[type="text"] {
    max-width: 330px;
    }
    
    .card .content{
    width: 100%;
	    min-width: 390px;
    }
    
    .type1 h3 span{
	    bottom:-12px;
    }
    
    .card .image span {
    display: none;
    left: 0;
    
    margin: auto;
    padding: 0 20px;
    width: 100%;
}
  #sb_instagram.sbi_fixed_height{
	  margin-right:-15px!important;
  }
  
  input[type="text"], input[type="email"], input[type="tel"], input[type="password"], textarea, input[type="url"]{
	  text-transform: none!important;
  }
  
::-webkit-input-placeholder { /* Edge */
 text-transform: uppercase!important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 text-transform: uppercase!important;
}

::placeholder {
 text-transform: uppercase!important;
}  

.gform_delete{
	max-width:10px!important;
}

#gform_fields_6 div#gform_preview_6_19 {
    margin-top: 15px;
}

#sb_instagram{
	margin-right:-5px;
}
.post-template-default .article a{
color: #c38d4d
}

.required{
	text-decoration: none!important;
}

.form-flex #gform_fields_3{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0px 0 10px;
}
 
.form-flex input#gform_submit_button_3{
 	color: #010101;
    padding: 0 20px;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 0.125em;
    font-family: 'Gotham';
    letter-spacing: 0.2em;
    font-size: 9px;
    line-height: 9px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 0;
    padding: 17px 35px;
    background-color: #c38d4d;
    margin-bottom: 15px;
    transition: all 0.5s ease-in-out;
}

#gform_confirmation_message_3{
    font-family: 'GothamBook';
    letter-spacing: 0.0125em;
    color: #010101;
    font-size: 14px;
    line-height: 18px;

}
body img.gform_ajax_spinner {
 display: none !important;
}
#password-lost-form-wrap .som-password-se{
	border:none!important;
	margin-bottom:0!important;
}
    
    .gfield_error .validation_message {
    font-size: 10px;
    color: #cb6d62!important;
    }

.modal.fullview .line_top .logo{
	max-width: 190px;
    width: 100%;
    padding-left: 30px;
}

.gform_validation_error .validation_error {
    font-size: 14px!important;
    border-color: #cb6d62!important;
}

.login-failed-message{
	    color: #cb6d62!important;
	    padding-bottom: 0!important;

}

.single-dd-registry #charitable_field_anonymous_donation svg{
	display: none!important;
}

.charitable-terms-link{
	font-size: 9px!important;
}

.charitable-notice a{
	color: #c38d4d;
}

.single-dd-registry .modal {
    max-width: 610px!important;
}

  
  @media screen and (max-width: 812px){
.page-template-template-home .type2 {
    padding: 38px 0 10px!important;
}

 #sb_instagram.sbi_fixed_height{
	  margin-right:auto!important;
  }
  
}


@media screen and (max-width: 667px){
	
	.single-dd-registry .hero .content {
    padding: 30px;
}

#DonationForm {
    padding: 30px 20px;
}

.page-template-template-about .hero h1 {
    margin: 22px 0!important;
}

.admin-bar header .container {
    padding-top: 25px!important;
}
.btn.btn-big {
    padding: 17px 5px;
}


}

@media screen and (max-width: 350px){
.card .content{
	    width: 100%!important;
    margin-left: auto!important;
    margin-right: auto!important;
    max-width: 280px!important;
    min-width: 280px!important;
}

.page-template-template-home .type1 .flex-wrap .btn-margin {
    padding: 17px 10px;
}

.page-template-template-contact .hero.hero-v2 .content, .page-template-template-contact .type4 .content {
    padding: 30px 12px 35px;
}

}