
.mobile{
	display: none
}
.nav{
	text-align: right;
	display: none;
}
.add-reg span{
	display: none;
}
.page-template-default .container .hbig{
	margin-bottom: 25px;
}
footer .one-half.right #copyrights{
	display: none;
}
@media screen and (max-width: 1190px) {
	.hero {
   	 transform: initial;
	}
	.type3 .flex-wrap .heading{
		transform: initial;
	}
	.searchbox {
    	padding: 34px 0;
	}
	.searchbox .flex-search input[type="text"]{
		line-height: 46px;
		margin-bottom: 11px;
	}
}
@media screen and (max-width: 1100px) {
	.type3 .flex-wrap .heading{
		transform: none;
		max-width: 52px
	}
	.hero{
		transform: none;
	}
	.pagination {
     	transform: initial; 
    	width: 1008px;
    	max-width: 100%;
    	padding: 0 30px;
	}
	.searchbox {
	    padding: 65px 30px;
	}
	.container1010 {
		padding-left: 20px;
		padding-right: 20px;
	}
	#input_6_19::before{
		position: relative;
	}
	.ginput_container_fileupload{
		float: none;
		width: 100%;
	}
	#gfield_description_6_19 {
	    float: none;
	    width: 100%;
	}
	.page-template-template-register .type3-v2 .flex-wrap .content-inner.wide{
		margin-left: 0;
	}
	.searchbox .flex-search {
		flex-direction: column;
	}
	.searchbox .flex-search > div{
		width: 400px;
		max-width: 100%;
		margin-top: 20px;
	}
	.blog-search input{
		width:100%;
	}
	.page-template-template-blog .type2 .container-small{
		transform: initial;
	}
	.blog-search .flex-search label {
	    margin-right: 0px;
	}
	.blog-search .flex-search > div{
		width: 250px;
		max-width: 100%;
		margin-top: 20px;
		margin-right: 0 !important;
	}
	.type2 .flex-wrap{
		margin-bottom: 0;
	}
}
@media screen and (max-width: 970px) {
	.page-template-template-about .type5 .container{
		transform: initial;
	}
	.type5 .heading,
	.type5 .content {
	    -ms-flex: 1 100%;
	    flex: 1 100%;
	    max-width: 100%;
	}
	#press-features .container{
		padding: 0 20px;
	}
}
@media screen and (max-width: 812px) {
	footer .one-half.left .fmenu ul{
		margin-bottom: 20px;
	}
	.modal.fullview .content input[type="submit"] {
    	width: 100%;
    	max-width: 100%;
	}
	.card .btn:hover:before, .card .btn:focus:before {
    	content: '+ ' ;
	}
	.modal.fullview .line_top .logo {
	    max-width: 128px;
	}
	.modal{
		padding: 25px 0;
	}
	.page-template-template-profile .modal{
		padding:50px;
	}
	.admin-bar .modal a.close-modal {
		top: 43px;
	}
	.jquery-modal .modal.fullview .container{
		min-height: calc(100vh - 50px);
	}

	.searchbox .flex-search .select, 
	.searchbox .flex-search input[type="text"]{
     	max-width: 100%;
    }
    .blog-search .flex-search > div,
    .blog-search .flex-search input[type="text"]{
    	width: 100%;
    }
    .page-template-template-registry .type2 .flex-wrap{
    	display: flex;
    }
	.mobile{
		display: block;
	}
	.desktop,
	.topline,
	#navigation{
		display: none;
	}

    .nav,
    .type2 .flex-wrap{
		display: block;
	}
	.type2 .flex-wrap{
		padding: 0;
	}
    .menu-mob {
        text-align: center;
        width: 100%;
        display: none;
        margin-top: 60px;
        height: 100vh;
    }
    .menu-mob a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
     
    }
	.container,
	header .container{
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
	header{
		padding-top: 115px;
	}
	header .container{
		padding-top: 25px;
		display: block;
		position: fixed;
		top: 0;
		z-index: 3;
		background: #fff;
	}
	.admin-bar header .container{
		padding-top: 70px;
	}
	header .logo{
		padding: 0;
		max-width: 128px;
	}
	header ul{
		display: block;
	}
	.hamburger {
    	padding: 0;
	}
	.hamburger-box {
	    width: 36px;
	    height:0;
	}
	.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	    width: 36px;
	    height: 1px;
	}
	.hcups{
		line-height: 1.7em;
		padding-bottom: 15px;
	}
	.image img{
		height: 100%;
		object-fit: cover;
	}
	.card{
		margin-bottom: 35px;
	}
	.card .image{
		height: 230px;
	}
	.card-big .image{
		margin-bottom: 0;
	}
	.card-big,
	.card-small{
		-ms-flex: 1 100%;
	    flex: 1 100%;
	    max-width: 100%;
	    width: 100%;
	}
	.card-small .image{
		width: 100%;
    	 margin-right: 0; 
	}
	.card .content{
		max-width:initial;
		width: calc(100% - 30px);
		position: relative;
		padding: 31px 35px;
    	margin: -49px 15px 0;
		bottom: initial;
		left: initial;
	}
	.card-medium.card .content {
		margin-top: -100px;
	}
	.card .content a.btn.add-reg {
		right: 36px;
	    padding: 10px 20px;
	}
	
	.add-reg span{
		display: inline;
	}
	.card .heading{
		margin-bottom: 15px;
	}
	.card .heading + p {
		padding-left: 36px;
		max-height: initial;
     	height: initial;
    	overflow: hidden;
     	text-overflow: initial; 
	   	-webkit-line-clamp: unset;
	}
	.hero{
		transform: none;
		margin-bottom: 35px;
	}
	.flex-wrap{
		padding: 0 20px;
	}
	.page-template-template-home .hero .content,
	.page-template-template-blog .hero .content,
	.page-template-template-register  .hero .content,
	.page-template-template-causes  .hero .content,
	.page-template-template-about  .hero .content,
	.page-template-template-contact  .hero .content,
	.page-template-template-profile  .hero .content,
	.single-dd-charity  .hero .content{
		position: relative;
	    transform: none;
	    padding: 30px 35px 35px;
	    top: initial;
	    max-width: 100%;
	    left: initial;
	    margin: -80px 15px 0;
	    width: calc(100% - 30px);
	}
	.page-template-template-register .hero .hcups{
		margin-top: 0;
		line-height: 1.7em;
		padding-right: 20px;
	}
	body:not(.page-template-template-contact) .hero.hero-v2 .content{
		right: initial;
		position: relative;

	}
	.page-template-template-home .hero .content h1,
	.page-template-template-blog .hero .content h1,
/*	.page-template-template-register .hero .content h1,*/
	.page-template-template-causes .hero .content h1,
	.single-dd-charity .hero .content h1{
		font-size: 23px;
		margin: 27px 0 34px;
	    line-height: 32px;
	}
	.page-template-template-about .hero h1 {
	    line-height: 1.7em;
	    margin: 0;
	}
	.page-template-template-home .hero .image,
	.page-template-template-register .hero .image,
	.page-template-template-causes .hero .image,
	.page-template-template-contact .hero .image{
		height: 285px;
	}
	.page-template-template-home .hero .image{
		max-width: initial;
	}
	.page-template-template-home .card .content {
	    padding: 33px 35px 35px 34px;
	}
	.page-template-template-home .type1 .h-90 {
	    line-height: 19px;
	}
	.page-template-template-home .h-90 {
	    padding-bottom: 107px;
	    font-size: 31px;
	    line-height: 18px;
	}
	.page-template-template-home .type1 h3 {
    	padding-top: 10px;
	}
	.page-template-template-home #slide-count{
		font-family: 'GothamBook';
	    letter-spacing: 0.0125em;
	    color: #010101;
	    font-size: 14px;
	    line-height: 18px;
	}
	.searchbox {
    	padding: 34px 0;
	}
	.searchbox .flex-search input[type="text"]{
		line-height: 46px;
		margin-bottom: 11px;
	}
	#search-registry{
		max-width: 275px;
    	margin: 0 auto;
	}
	#search-registry button{
		margin: 14px auto 0;
		padding: 10px 39px 10px 31px;
		width: 100%;
	}
	#search-registry label{
		margin: 0 auto 24px;
	}
	.page-template-template-home .type1 {
    	padding: 46px 0 40px;
	}
	.page-template-template-home .type1 .container-small{
		transform: none;
	}
	.page-template-template-home .type1 .flex-wrap .heading {
		max-width: 50px;
	}
	.page-template-template-home .type1 .flex-wrap .content {
    	max-width: calc(100% - 52px);
	}
	.page-template-template-home .type1 .flex-wrap .content p{
		text-align: left;
		padding-bottom: 16px;
	}
	.page-template-template-home .type1 .flex-wrap .content .image,
	.page-template-template-home .type1 .flex-wrap .content-inner {
	    -ms-flex: 1 100%;
	    flex: 1 100%;
	    max-width: 100%;
	    width: 100%;
	}
	.page-template-template-home .type1 .flex-wrap .content-inner{
		padding: 0;
	}
	.page-template-template-home .type1 h3 span{
		margin-left: 0;
    	display: block;
    	bottom:0;
    	text-align: initial;
    	margin: -10px 0 19px;
	}
	.page-template-template-home .type2 {
		padding: 38px 0 75px;
	}
	.page-template-template-home .type2 h2{
    	font-size: 31px;
    	padding: 0 14px 33px;
    	line-height: 36px;
	}
	.page-template-template-home .type3 .flex-wrap .heading{
		max-width: 50px;
	}
	.page-template-template-home .type3 .flex-wrap .heading h2{
		font-size: 31px;
	    padding-top: 110px;
	    line-height: 0.7;
	}
	.page-template-template-home .type3 .flex-wrap .content{
		flex-direction: column-reverse;
		flex-wrap: nowrap;
		max-width: calc(100% - 50px);
	}
	.page-template-template-home .type3 .flex-wrap .content-inner{
		margin-top: 44px;
    	padding: 0 0px 0 16px;
	}
	.page-template-template-home .type3 .flex-wrap .content-inner,
	.page-template-template-home .type3 .flex-wrap .content .image {
		-ms-flex: 1 100%;
		flex: 1 100%;
	    max-width: 100%;
	    width: 100%;
	}
	.page-template-template-home .type3 .flex-wrap .content-inner > div {
		margin-right: -37px;
	}
	.page-template-template-home .type3 .flex-wrap .content .image{
		height: 400px;
	}
	.page-template-template-home .type3 .flex-wrap .content-inner .btn.btn-big {
	    margin-top: 12px;
	}
	.page-template-template-home .type4{
		padding: 65px 0 17px;
	}
	.type4 .content,
	.page-template-template-home .type4 .content,
	.page-template-template-blog .type4 .content{
		position: relative;
	    transform: none;
	    padding: 30px 35px 35px;
	    top: initial;
	    max-width: 100%;
	    left: initial;
	    margin: -80px 15px 0;
	    width: calc(100% - 30px);
	}
	.archive .type4 .content h2,
	.page-template-template-home .type4 .content h2,
	.page-template-template-causes .type4 .content h2 {
		font-size: 23px;
		margin: 27px 0 34px;
	    line-height: 32px;
	}
	.archive .type4 .image,
	.page-template-template-home .type4 .image,
	.page-template-template-causes .type4 .image,
	.page-template-template-about .type4 .image,
	.page-template-template-contact .type4 .image{
		height: 320px;
	}
	.pagination{
	    transform: initial;
	}
	.hero.hero-v2 .image{
		margin-left: 0;
	}
	.page-template-template-register .type3-v2 .flex-wrap .content-inner.wide,
	.page-template-template-register .type3-v2 .flex-wrap .content .image {
    	margin-left: 0;
    	-ms-flex: 2 50%;
	    flex: 2 50%;
	    max-width: 50%;
	    width: 50%;
	    position: relative;
	}
	.single-post .type-related .heading {
	    -ms-flex: 2 25px;
	    flex: 2 25px;
	    max-width: 25px;
	    width: 25px;
	}
	.single-post .type-related .flex-wrap{
		padding: 0;
	}
	.single-post .type-related .content-inner {
	    -ms-flex: 2 calc(100% - 25px);
	    flex: 2 calc(100% - 25px);
	    max-width: calc(100% - 25px);
	    width: calc(100% - 25px);
	    -ms-flex-pack: initial;
	    justify-content: initial;
	}

	footer {
    	padding: 67px 0 65px 0;
	}
	footer:before {
		max-width: 135px;
		top: -67px;
	}
	footer h5 {
	    font-size: 23px !important;
	    padding-bottom: 15px;
	}
	footer .one-half.left{
		padding: 40px 0 0 ;
	}
	footer .one-half.left #copyrights{
		display: none;
	}
	

	footer .fmenu > div {
    	-ms-flex: 1 100%;
    	flex: 1 100%;
    	text-align: center;
	}
	footer .one-half.right{
		padding: 0 23px;
	}
	footer .one-half.right a.hmedium{
		float: none;
	    width: 100%;
	    text-align: center;
	    letter-spacing: 0.4px;
	    margin-bottom: 27px;
	}
	footer .one-half.right #copyrights{
		display: block;
	}
	footer .one-half.right #copyrights ul{
		text-align: center;
		margin: 30px -15px 0;
	}
	footer .one-half.right #copyrights li{
		display: inline-block;
		float: none;
		margin-right: 15px;
		padding-bottom: 0;
	}
	footer .one-half.right #copyrights li a {
		font-size: 10px;
		letter-spacing: 2px;
		line-height: 20px;
	}
	footer .one-half.right #copyrights li:nth-child(2){
		margin-right: 0;		
	}
	footer .one-half.right #copyrights li:last-child{
		margin-right: 0;
	}
	footer ul.fmenu-line li:last-child:before{
		left: initial;
	}
	.card-medium {
	    -ms-flex: 1 100% !important;
	    flex: 1 100%  !important;
	    max-width: 100%  !important;
	    width: 100%  !important;
	    margin-bottom: 35px !important;
	}
	.card-medium .image {
   		width: 100%  !important;
   		height: 400px  !important;
   		margin: 0 !important;
	}
	.card-medium:nth-of-type(odd) {
	    margin-right:0  !important;
	}

}
@media screen and (max-width: 768px) {
	.page-template-template-causes .hero .image {
    	max-width: 100%;
	}
	.page-template-template-causes .hero .content{
		position:relative;
		max-width: 100%;
		transform: initial;
		top: 0;
	}

}
@media screen and (max-width: 667px) {
	.hero .image{
		max-width: 100%;
	}
	.hero .content{
		max-width: 100%;
		position: relative;
		top: 0;
		transform: initial;
		padding: 50px;
	}
	.type-content .heading,
	.type-content .content {
	    -ms-flex: 1 100% !important;
	    flex: 1 100% !important;
	    max-width: 100% !important;
	    width: 100% !important;

	}
	.page-template-template-about .hero.hero-v2 .content,
	.page-template-template-about .type4 .content{
		position: relative;
	    bottom: 0;
	    right: 0;
	    left:0;
	    max-width: 100%;
	    transform: initial;
	}
	.page-template-template-about .type3-v2 .flex-wrap .content-inner:not(.wide){
		padding-right: 35px;
	}
	.page-template-template-contact .hero.hero-v2{
		margin-bottom: 0;
		
	}
	.page-template-template-contact .hero.hero-v2 .content,
	.page-template-template-contact .type4 .content{
		right: initial;
	    position: relative;
	    max-width: initial;
	    bottom: 0;
	    left: initial;
	    transform: initial;
	}
	
}
@media screen and (max-width: 568px) {
	
	.page-template-template-registry .type2 .flex-wrap{
		display: block;
	}
	.page-template-template-register .type3-v2 .flex-wrap .content-inner.wide{
    	margin-left: 0;
    	-ms-flex: 1 100%;
	    flex: 1 100%;
	    max-width: 100%;
	    width: 100%;
	    position: relative;
	}
	.page-template-template-register .type3-v2 .flex-wrap .content .image{
		display: none;
	}
	.page-template-template-register .type3-v2 .flex-wrap .heading h2{
		padding-top: 100px 
	}
	.page-template-template-register .type4 .content,
	.page-template-template-register .hero-v2 .content,
	.page-template-template-blog .hero-v2 .content,
	.page-template-template-causes .type4 .content,
	.page-template-template-blog .type4 .content,
	.archive .type4 .content{
		position: relative;
	    top: 0;
	    left: 0;
	    transform: none;
	    padding: 30px;
	}
	.faq-list {
		margin-left: 0;
		margin-right: 0;
	}
	.faq-list dt{
		padding-bottom: 30px !important;
	}
	.faq-list dd {
		padding-left: 0;
		padding-top: 20px;
	}
	.faq-list dd:before{
		top: -5px;
	}
	.page-template-template-register .type3-v2 .flex-wrap .content {
	    align-items: initial;
	    max-width: calc(100% - 50px);
	    width: 100%;
	}
	.page-template-template-register .type3-v2 .flex-wrap .heading {
	    max-width: 50px;
	}
	.page-template-template-register .type3-v2 .flex-wrap .hmedium{
		padding-left: 40px !important;
	}
	.page-template-template-register .steps .hmedium:before {
	    top: 13px;
	    left: 11px;
	}
	.page-template-template-register .steps .expand {
	    padding: 10px 0 0 79px;
	}
	.page-template-template-about .type3-v2 .flex-wrap .content-inner:not(.wide) {
	    -ms-flex: 1 100%;
	    flex: 1 100%;
	    max-width: 100%;
	    width: 100%;
	    transform: initial;
	    padding: 40px;
	}
	.page-template-template-about .type3-v2 .flex-wrap .content .image{
		display: none;
	}
	.modal .toright{
		float: none;
	}
	.modal.fullview .menuline > *{
		margin-left: 0;
		flex-direction: column;
	}
	.menuline li{
		margin-left: 0;
	}
}
@media screen and (max-width: 561px) {
	.fmenu nav{
		display: none;
	}
}
@media screen and (max-width: 414px) {
	header .container{
		margin-bottom: 0;
	}
	.flex-to-right .hero.container-small{
		margin-top: 0;
	}
	.jquery-modal .modal.fullview .container{
		align-content: initial;
	}
	.modal.fullview .line_top{
		align-items: initial;
	}
	.page-template-template-login .submit.flex-wrap{
		flex-direction: column-reverse;
    	flex-wrap: initial;
	}
	.form-flex .size-onehalf{
	    -ms-flex: 1 100% ;
	    flex: 1 100%;
	    max-width: 100%;
	    width: 100%;
	}
	.page-template-template-login .submit.flex-wrap a{
		margin: 20px 0;
	}
	.page-template-template-register .steps > div.active .hmedium img {
	    display: block;
	    position: relative;
	    top: 0;
	    right: 0;
	}
	.page-template-template-register .steps .expand{
		padding-left: 70px;
	}
	.page-template-template-register .type3-v2 .flex-wrap .hmedium{
		padding: 6px 0 0px;
		line-height: 80px
	}

	.page-template-template-blog .hero.hero-v2{
		margin-bottom: 35px;
	}
	.page-template-template-blog .type2{
		padding-top: 45px;
	}
	.article .content{
		padding: 0;
	}

	.pagination ul{
		display: none;
	}
	#main-content .flex-wrap{
		display: block;
	}
	.type-content .heading,
	.type-content .content  {
	    -ms-flex: 1 100%;
	    flex: 1 100%;
	    max-width: 100%;
	    width: 100%;
	}
	label{
		font-size: 8px;
	}
	.a-listing.flex {
		margin-left: 0;
	}
	.a-listing.flex li {
	    -ms-flex: 1 100%;
	    flex: 1 100%;
	}
	.page-template-template-causes .hero .content {
		padding: 30px;
	}
	.page-template-template-causes .type2 .flex-wrap{
		padding: 0;
	}
	.single-post .btn.btn-big.more-articles {
	    padding: 17px 10px 17px 10px;
	}
	.single-post .btn.btn-big.back-to-blog {
    	padding: 17px 10px 17px 10px;
	}
	.page-template-template-about .type3-v2 .flex-wrap .content-inner:not(.wide) {
		padding: 0 0 0 40px;
		max-width: 100%;
		width: 100%;
	}
	.page-template-template-about .hero.hero-v2 .content,
	.page-template-template-about .type4 .content,
	.page-template-template-register .hero.hero-v2 .content,
	.page-template-template-register .type4 .content{
		padding: 30px;
	}
	.page-template-template-about .hbig,
	.page-template-template-register .hbig{
		font-size: 30px;
	}
	.page-template-template-about .hero.hero-v2,
	.page-template-template-register .hero.hero-v2 {
	    margin-bottom: 50px;
	}
	.page-template-template-contact .hero.hero-v2 .content,
	.page-template-template-contact .type4 .content{
		padding: 30px 35px 35px;
	}
	.page-template-template-contact .a-listing a{
		letter-spacing: 1px;
	}
	.page-template-template-contact .type4 .content h2{
		margin-bottom: 30px;
	}
	.single-dd-charity .hero .content{
		padding: 30px;
		right: 0;
	}
	.single-dd-charity .type-related .content-inner{
		transform: initial;
	    padding: 0 ;
	    -ms-flex: 1 100%;
	    flex: 1 100%;
	    max-width: 100%;
	    width: 100% ;
	}
	.single-dd-charity .type-related .posts-rows{
		padding: 0;
	}
	.single-dd-charity .type-related .heading {
		max-width: 0;
	}
	.single-dd-charity .card .content{
		padding: 30px;
	}
	.card p{
		padding-left: 0
	}
	.single-dd-registry .type-content .content{ 
		padding-top: 0;
	}
	#donation-popup {
	    margin: 40px auto 0;
	    width: 100%;
	    text-align: center;
	}
	.single-dd-charity .btn.btn-big.back-to-category,
	.prev-next-box #loadMore{
		margin: 0 auto 20px;
		float: none;
	}
	.single-dd-charity .btn.btn-big.next-org,
	.prev-next-box #back-to-top{
		margin: 0 auto;
		float: none;
	}
	.prev-next-box #back-to-top{
		padding: 17px 38px;
	}
	.prev-next-box{
		text-align: center;
		max-width: 345px !important;
	}
	.prev-next-box a {
		width: 100% !important;
		text-align: center !important;
		margin: 0 0 24px !important;
	}
	.share-box.flex-wrap{
		flex-direction: column-reverse;;
	}
	.share-box div{
		display:block;
	}
	.share-box span{
		line-height: 4em;
	}
	.share-box ul {
	    margin-left: 0;
	    margin-bottom: 20px;
	    display: block;
	}
	.share-box ul li {
	    margin-left: 0;
	    display: block
	}
	.card .image span {
	    left: 0;
	    width: 100%;
	    padding: 0 15px;
	}
	#how-it-works .flex-wrap{
		flex-direction: column-reverse;
	}
	.single-post .card .content{
		padding: 40px 35px;
	}
	.single-post .type-related .heading,
	.single-post .type-related .content-inner{
		flex:none;
		width: 100%;
		max-width: 100%;
	}
	.single-post .type-related .content-inner{
		transform: initial;
	}
	#our-story .flex-wrap{
		flex-direction: column-reverse;
	}
	#how-it-works .flex-wrap .heading,
	#related-organizations .heading,
	#our-story .heading,
	#related-post .heading{
		max-width: 100%;
		-ms-flex-pack: start;
    	justify-content: flex-start;
	}
	#our-story.type3-v2 .flex-wrap .content{
		width: 100%;
		max-width: 100%;
	}

	#how-it-works .flex-wrap .hbig,
	#related-organizations .hbig,
	#our-story .hbig,
	#related-post .hbig{
		padding-top: 0;
		-ms-writing-mode: initial;
	    writing-mode: initial;
	    transform:initial;
	    padding-bottom: 50px;
	    text-align: left;
	}
	#our-story .hbig{
		padding-bottom: 0;
	}
	#press-features .container {
    	padding-bottom: 50px;
	}
	#press-features .content {
		padding-top: 0;
	}
	#press-features hgroup{
		max-width: 280px;
	}
	.page-template-template-about .type5 .heading .btn.btn-big{
		position: absolute;
	    bottom: 0;
	    left: 50%;
	    transform: translateX(-50%);
	    padding: 17px 35px;
	}
	.page-template-template-about .type3-v2{
		padding: 35px 0;
	}
	.page-template-template-about .type3-v2 .flex-wrap .heading{
		transform: initial;
	}
	.page-template-template-register .type3-v2 .flex-wrap .content{
		max-width: 100%;
	}
	.steps .active:after{
		content: none !important;
	}
	.page-template-template-register .type3-v2 .flex-wrap .hmedium,
	.page-template-template-register .steps .expand{
		padding-right: 20px;
	}
	.page-template-template-register .type3-v2 .flex-wrap .content-inner.wide .btn.btn-big{
		width: 100%;
		text-align: center;
	}
	#pagination-anchor,
	.pagination-box,
	.page-template-template-causes .pagination{
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.type-content [type="submit"] {
    	width: 100%;
	}
	.logo-list{
		justify-content: center;
		margin: 0;
	}
	.page-template-template-profile .cta-box .flex-wrap{
		justify-content: center;
	}
	.page-template-template-profile .cta-box .heading{
		margin-bottom: 10px
	}
	.page-template-template-profile .cta-box .cta-links{
		margin: 0 auto;
		flex-direction: column;
	}
	.page-template-template-profile .cta-box .cta-links li{
		margin-bottom: 10px;
	}
	.cta-box .cta-links li:not(:first-child){
		margin-left: 0;
	}
}

@media screen and (max-width: 320px) {
	.hbig,
	.type4 .content h2{
		font-size: 25px;
	}
}