#block-for-slider {
    width: 100%;
    margin: 0 auto;
    margin-top: 22px;
}

#viewport {
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}

#slidewrapper {
    position: relative;
    width: calc(100% * 4);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

.slide {
    width: calc(100%/4);
    list-style: none;
    display: inline;
    float: left;
}

.slide-img {
    width: 100%;
}
#slide-count{
    position: absolute;
    top: 9px;
    right: 33px;
}
#prev-btn, #next-btn {
    position: absolute;
    width: 10px;
    height: 10px;
   /* background-color: #fff;
    border-radius: 50%;*/
    border: 1px solid #000;
    top: 0;
    border-right: none;
    border-bottom: none;
    
}
#prev-btn:hover, #next-btn:hover {
    border-color: #c38d4d;
}
#prev-btn{
    transform: rotate(-45deg);
}
#next-btn{
    transform: rotate(135deg);
}


#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    right: 90px;
    top: 13px;
}

#next-btn {
    top: 13px;
    right: 2px;
}

#nav-btns {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin: 3px;
}

.slide-nav-btn:hover {
    cursor: pointer;
}