/*
Theme Name: Good Beginning
Theme URI:
Author: Pixelpress
Author URI: http://pixelpress.co/
Version: 1.0
Tags: html5, css3, development
*/

/* main elements */

/*Instagram widget styles*/
.zoom-instagram-widget__items {
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    clear: both;
}
.select-items{
	max-height: 298px;
    overflow: auto;
}

.article .content h1,
.article .content h2,
.article .content h3,
.article .content h4,
.article .content h5,
.article .content h6{
	padding: 28px 0;
	font-family: 'Canela';
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25em;
    letter-spacing: 0.05em;
    color: #000000;
}
.article .content h1 a,
.article .content h2 a,
.article .content h3 a,
.article .content h4 a,
.article .content h5 a,
.article .content h6 a{
	color: #000000;
}
.article .content h1 a:hover,
.article .content h2 a:hover,
.article .content h3 a:hover,
.article .content h4 a:hover,
.article .content h5 a:hover,
.article .content h6 a:hover{
	text-decoration: none;
}
.pagination li {
    color: #010101;
    text-decoration: none;
    font-family: 'Gotham';
    letter-spacing: 0.2em;
    font-size: 10px;
    line-height: 2em;
    text-transform: uppercase;
}
.pagination li.active{
	color: #c38d4d;
} 
.steps .active{
    position:relative;
}
.steps .active:after{
    content: '';
    right: -40px;
    top: 0;
    bottom: 0;
    width: 40px;
    background: #fff;
    position: absolute;
}
.blocker {
    z-index: 2
}