@headingColor: #000000;
@textColor: #010101;
@toplineColor: #010101;
@accentColor: #c38d4d;
@btnBgColor: #c38d4d;
@btnColor: #010101;
@linkColor: #010101;

@medHBase: 24px;
@bigHBase: 36px;
@subHBase: 10px;
@textBase: 14px;
@inputBase: 10px;
@btnBase: 9px;

@smallCapsBase: 10px;


@bgcolor1: #f7f6f5;


@inputColor: #010101;
@inputColorPlaceholder: #010101;
@inputBGColor: #ffffff;
@navColor: #010101;
@navColorHover: #010101;

@smallRowPadding: 25px;
@bigRowPadding: 63px;
