@import 'includes/normalize.less';
@import 'includes/colors.less';
@import 'includes/typography.less';
body{
	color: @textColor;
	font-weight: 400;
}
.container{
	max-width: 1120px;
	width: 100%;
	margin: 0 auto;
}
.container1010{
	max-width: 1010px;
	width: 100%;
	margin: 0 auto;
}
.container-small{
	max-width: 960px;
	margin:0 auto;
	width: 100%;
}
.flex-wrap{
	display: flex;
	flex-wrap: wrap;
}
.flex-to-right{
	display: flex;
	justify-content: flex-end;
}
.flex-to-center{
	display: flex;
	justify-content: center;
}
.nopad-right{
	padding-right: 0;
}
img{
	width: 100%;
	height: auto;
}
.margin-center{
	margin: 0 auto;
	display: table;	
}
.bgaccent{
	background: @bgcolor1;
}
.border-top{
	border-top: 1px solid @accentColor;	
}
.toright{
	float: right;
}
.menuline{
	align-items: center;
	margin: 0;
	li{
		padding-bottom: 0;
		margin-left: 45px;
	}
}
.topline{
	background-color: #f7f6f5;
	.container{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0;	
		max-width: 1120px + 90px;
		margin-bottom: 20px;
	}
	a{
		text-decoration: none;
		.link-text();
		font-size: @smallCapsBase;
		line-height: 1em;
		letter-spacing: 0.2em;
		color: @navColor;
		text-transform: uppercase;
		padding: 17px 15px;
		display: inline-block;
		&:hover{
			color: @navColorHover;
		}
	}
	ul{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 0;
		padding: 0;
		li{
			padding: 0;
			list-style: none;
			&:not(:last-child):after{
				content: '|';
			}
		}
	}
}
// HEADER
header{
	.container{
		display: flex;	
		align-items: center;
		justify-content: space-between;
		padding: 0 0 25px 0;
		margin-bottom: 25px;
	}
	.logo{
		max-width: 190px;
		width: 100%;
		padding-left: 30px;
		a{
			display: block;
			img{
				float: left;
			}
		}
	}
	ul{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 0;
		padding: 0;
		li{
			list-style: none;
			padding: 0;
		}
		a{
			text-decoration: none;
			.link-text();
			font-size: 1.2*@smallCapsBase;
			line-height: 1.25em;
			color: @inputColor;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			padding: 14px 25px;
			display: inline-block;
			color: @navColorHover;
			&:hover{
				color: @navColorHover;
			}
		}
	}
}
.hero-heading(){
	background: @bgcolor1;
	position: absolute;
	// display: table;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
}
.hlinks{
	list-style: none;
	a{
		&:before{
			content: '+ ';
			font-weight: bold;

		}
	}
}

.hero{
	position: relative;
	margin-bottom: 62.5px;
	.container{
		max-width: 1010px;
	}
	.event-data{
		margin-bottom: 30px;
		p{
			line-height: 45px;
		}
	}
	.image{
		max-width: 55.73%;
		height: auto;
		width: 100%;
	}
	h2{
	}
	h1{
		margin: 0 0 21px 0;
	}
	.content {
		.hero-heading();
		right: 0%;
		max-width: 57%;
		padding: 50px 110px 62.5px 84px;
		margin-top: -33px;
		&.padding-same{
			padding-right: 90px;
		} 
		h1{}
	}
	
	&.hero-v2{
		margin-bottom: 160px;
		max-width: 962.5px;
		.image{
			max-width: 80%;
			height: auto;
			width: 100%;
		}
		.content {
			.hero-heading();
			top: auto;
			bottom: -100px;
			transform: none;
		}
	}
}
.flex-to-right{
	.hero.container-small{
		margin-left: initial;
		margin-right: initial;
		margin-top: 25px;
	}
}

// CONTENT SECTIONS
.searchbox{
	padding: 65px 0;
	// margin-bottom: 65px;
	
	.btn{
		margin-left: 20px;
	}
	.select{
		max-width: 200px;
		width: 100%;
	}
	.flex-search{
		align-items: center;
		justify-content: space-between;
		input[type="text"],
		input[type="email"],
		input[type="tel"]{
			.inputStyle();
			min-width: 300px;
			margin-left: 20px;
		}


		&.search-style2{
			input[type="text"],
			.select{
				max-width: 230px;
			}	
		}

		.select,
		input[type="text"]{
			max-width: 251px;
			min-width: initial;
			width: 100%;
		}
		.btn,
		input[type="text"]{
			margin: 0;		
		}



	}
}
.card{
	position: relative;
	margin-bottom: 65px;
	p{
		padding-left: 30px;
	}
	.content{
		background: #fff;
		max-width: 390px;
		position: absolute;
		z-index: 2;
		padding-top: 30px;
		bottom: 0;
		left: 35px;
		padding: 40px 35px 35px 70px;
		a.btn{
			position: absolute;
			right: 55px;
			top: -15px;
		}
	}
	.image{
		position: relative;
		height: 400px;
		overflow: hidden;
		img{
			position: absolute;
			min-width: 100%;
			min-height: 100%;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			z-index: 1;
		}
		span{
			.p-text();
			font-size: 	 @smallCapsBase;
			line-height: 1.25em;
			color: @accentColor;
			text-transform: uppercase;
			position: absolute;
			left: 10px;
			top: 10px;
			z-index: 2;
		}
	}
	&-big{
		flex: 2    54%;
		max-width: 54%;
		width: 	   54%;
		.image{
			// height: calc(100% - 75px);
			width: 100%;
			margin-bottom: 75px;
		}
	}
	&-medium{
		// flex: 2    44%;
		// max-width: 44%;
		// width: 	   44%;
		flex: 2    calc(50% - 32.5px);
		max-width: calc(50% - 32.5px);
		width:     calc(50% - 32.5px);
		.image{
			width: calc(100% - 130px);
			margin-right: 130px;
			margin-bottom: 75px;
		}
		.content{
			background: #f7f6f5;
		}
	}
	&-small{
		flex: 2    38%;
		max-width: 38%;
		width: 	   38%;
		.image{
			width: calc(100% - 130px);
			margin-right: 130px;
		}
	}
	.btn{
		padding-right: 25px;
		&:hover,
		&:focus{
			transition: width 1s linear;
			&:before{
				content: '+ 'attr(data-text);
			}
		}
	}
	.heading{
		padding: 0;
		margin-bottom: 1em;
		max-height: 2.7em;
		height: 2.7em;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		+ p{
			max-height: 4em;
			height: 4em;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 3;
		}
	}

}
.type1{
	padding: 65px 0;
	.flex-wrap{
		.heading{
			max-width: 85px;
			width: 100%;
			display: flex;
			justify-content: flex-start;
			h2{
				// padding-top: 100px;			
			}
		}
		.content{
			max-width: calc(100% - 85px);
			display: flex;
			flex-wrap: wrap;
			.image{
				flex: 2  47.771%;
				max-width: 47.771%;	
				width:  47.771%;
			}
			&-inner{
				flex: 2  52.229%;
				max-width: 52.229%;	
				width: 52.229%;	
				padding-left: 2.27*65px;
				padding-right: 65px;
				padding-top: 65px/2;
			}
			p{
				padding-bottom: 1em;
			}
		}
		.btn-margin{
			margin-top: 23px;
		}
	}
	h3{
		position: relative;
		display: table;
		padding-bottom: 24px;
		span{
			width: 78px;
			margin-left: -78px;
			display: inline-block;
			position: relative;
			bottom: 3px;
		}
		img{
			max-width: 44px;
			// vertical-align: bottom;
			// float: left;
		}
	}
}
.type2{
	padding: 65px 0;
	// margin-bottom: 65px;
	h1{
		padding-bottom: 50px;
	}
	h2{
		padding-bottom: 50px;
	}
	h3{
		padding-bottom: 1em;
	}
	.flex-wrap{
		justify-content: space-between;
		align-items: stretch;
		margin-bottom: -65px;
	}
	.container{
		padding-left: 30px;
	}
	
	// .btn{
	// 	padding-right: 25px;
	// }
}
.type-related{
	padding: 65px 0;
	.heading{
		flex:2     85px;
		max-width: 85px;
		width:     85px;
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.content-inner{
		flex: 2    calc(100% - 85px);
		max-width: calc(100% - 85px);
		width:     calc(100% - 85px);
		justify-content: space-between;
	}
	.card-medium{
		flex: 2    calc(50% - 32.5px);
		max-width: calc(50% - 32.5px);
		width:     calc(50% - 32.5px);
	}
	.h90,
	.h-90{
		padding: 0;
	}

}
.type3{
	padding: 75px 0;
	.flex-wrap{
		.heading{
			max-width: 85px;
			width: 100%;
			display: flex;
			justify-content: flex-end;
			h2{
				padding-top: 100px;
			}
		}
		.content{
			max-width: calc(100% - 85px);
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			.image{
				flex: 2  55%;
				max-width: 55%;	
				width:  55%;
			}
			&-inner{
				flex: 2  45%;
				max-width: 45%;	
				width: 45%;	
				padding-left: 40px;
				padding-right: 60px;
				> div{
					padding: 30px 0;
				}
				p{
					font-size: 14px;
					line-height: 24px;	
				}
			}
			p{
				padding-bottom: 1em;
			}
		}
	}
}
.type3-v2{
	padding: 75px 0;
	.flex-wrap{
		.heading{
			max-width: 55px;
			width: 100%;
			display: flex;
			justify-content: flex-end;
			h2{
				// text-align: center;
				padding-top: 100px;
			}
		}
		.content{
			max-width: calc(100% - 55px);
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			.image{
				flex: 2    42%;
				max-width: 42%;	
				width:     42%;
			}
			&-inner:not(.wide){
				flex: 2  45%;
				max-width: 45%;	
				width: 45%;	
				padding-left: 40px;
				padding-right: 60px;

				> div{
					padding: 30px 0;
				}
				p{
					font-size: 14px;
					line-height: 24px;	
				}
			}
			&-inner.wide{
				flex: 2    calc(58% - 54px);
				max-width: calc(58% - 54px);	
				width:     calc(58% - 54px);
				margin-left: 54px;
				justify-content: space-between;
			}
			p{
				padding-bottom: 1em;
			}
		}
		.hmedium{
			line-height: 45px;
			padding: 15px 0;
		}
	}
}

.type4{
	padding: 65px 0;
	.container{
		position: relative;
	}
	.content{
		.hero-heading();
		max-width: 540px;
		width: 100%;
		left: 63px;
		padding: 50px 75px;
		h2{
			margin: 0.67em 0;
			font-size: 36px;
			line-height: 45px;
		}
	}
}

.type5{
	padding: 65px 0;
	.container{
		position: relative;
		justify-content: space-between;
		align-items: stretch;
	}
	.heading{
		flex: 2 350px;
		max-width: 350px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
	}
	.content{
		flex: 2    620px;
		max-width: 620px;
		padding-top: 50px;
	}
	
	.hbig{
		margin: 0.67em 0;
		font-size: 36px;
		line-height: 45px;
	}
	
}
.type-404{
	padding: 65px 0;
	.hbig{
		margin-bottom: 65px;
	}
	.flex-wrap{
		align-items: center;
		justify-content: space-between;
	}
}

.type-content{
	// margin-bottom: 65px;
	padding: 75px 0;
	.form-flex{
		// margin-top: 20px;
		margin: 0;
		padding: 0;
		.select{
			align-self: flex-start;
		}
	}
	.container1010{
		position: relative;
		justify-content: space-between;
		align-items: stretch;
	}
	.heading{
		flex: 2 	 calc(50% - 15px);
		max-width:   calc(50% - 15px);
		width:   	 calc(50% - 15px);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
	}
	hgroup{
		width: 100%;
		.hcups{
			display: table;
			max-width: 350px;
			width: 100%;
		}
		.hbig{
			max-width: 350px;
		}

	}
	.content{
		flex: 2 	 calc(50% - 15px);
		max-width:   calc(50% - 15px);
		width:   	 calc(50% - 15px);
		padding-top: 65px;
		p{
			line-height: 24px;
			margin-bottom: 24px;
		}
	}
	[type="submit"]{
		margin-top: 15px;
	}
	
	.hbig{
		margin: 0.67em 0;
		font-size: 36px;
		line-height: 45px;
	}
	.hmedium{
		padding: 15px 0 5px 0;
	}
	.a-listing{
		padding-bottom: 20px;
	}
}

.signup{
	h4{
		.cups-text();
		text-transform: uppercase;
		font-size: 10px;
		line-height: 30px;
		padding: 10px 0 20px 0;
	}
	.field-wrap{
		text-align: right;
		width: 100%;
	}
	
}
.heading-top{
	max-width: 400px;
	p{
		padding: 10px 0;
	}
	a{
		margin-top: 30px;
	}
}

.faq-list{
	margin: 40px 80px;
	dt{
		.heading-text();
		font-size: 24px;
		line-height: 32px;
		padding: 18px 0;
		cursor: pointer;
	}
	@faq_answer_pl: 50%;
	dd{
		padding-left: @faq_answer_pl;
		position: relative;
		.p-text();
		font-size: 14px;
		line-height: 24px;
		margin-bottom: 20px;

		&:not(.active){
			display: none;
		}
		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 12px;
			width: calc(@faq_answer_pl -  20px);
			height: 1px;
			display: inline-block;
			background: @accentColor;
		}
	}
}
.steps{
	>div{
		background: #fff;
		margin-bottom: 20px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 15px 0;
		cursor: pointer;
	}
	
	.arrow{
		background: @btnBgColor;
		width: 30px;
		height: 75px;
		flex: 2 30px;
		display: inline-block;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			width: 5px;
			height: 5px;
			border: solid #010101;
			border-width: 0 2px 2px 0;
			transform: rotate(-45deg) translate(calc(-50% + 3px), calc(-50% - 3px));
		}
	}
	.hmedium{
		flex: 2 calc(100% - 30px);
		padding-left: 50px !important;
		position: relative;
		&:before{
			top: 10px;
			left: 20px;
			color: @accentColor;
		}
		img{
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			max-width: 35px;
			display: none;
		}

	}
	.expand{
		flex: 1 100%;
		padding: 0 20px 0 80px;
		display: none;
		
	}
	> div.active{
		.expand{
			display: block;
		}
		.hmedium{
			img{
				display: block;
			}
		}
	}
}
.cta-box{
	padding: 65px 0;
	margin-bottom: 30px;
	.container{
		max-width: 1010px;
	}
	.flex-wrap{
		align-items: center;
		justify-content: space-between;
	}
	.cta-links{
		list-style: none;
		display: flex;
		li{
			padding: 0;
		}
		a{
			min-width: 300px;
			width: 100%;
			text-align: center;
		}
		li:not(:first-child){
			margin-left: 20px;
		}
	}
	.heading{
		.cups-text();
		color: @accentColor;
		font-size: 10px;
		line-height: 15px;
		text-transform: uppercase;
	}
}

.logo-list{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	@logoLlistItem: 175px;
	&:after {
	  content: "";
	  max-width: @logoLlistItem;
	  width: 100%;
	  padding: 15px 10px;
	  display: inline-block;
	}

	li{
		list-style: none;
		max-width: @logoLlistItem;
		padding: 15px 10px;
	}
	&:not(.active){
		li:nth-child(n + 10){
			display: none;
		}	
	}
	
	a{
		display: block;
		img{
			float: left;
		}
	}
}

.prev-next-box{
	justify-content: space-between;
}
.pagination-box:not(.no-padding){
	padding: 0 0 65px 0;
}
.pagination{
	margin-bottom: 65px;
	display: flex;
	justify-content: space-between;
	a{
		color: @linkColor;
		text-decoration: none;
		.link-text();
		font-size: 10px;
		line-height: 2em;
		text-transform: uppercase;
		&:hover,
		&:focus,
		&.active{
			color: @accentColor;
		}
	}
	ul{
		li{
			float: left;
			list-style: none;
			a{
				padding: 0 8px;
			}
		}
	}
}

.article{
	max-width: 780px;
	.content{
		max-width: 625px;
		margin: 0 auto;
	}
}

.login{
	.hcups{
		display: table;
		max-width: 60%;
		width: 100%;
	}
	.flex-wrap{
		width: 100%;
		align-items: center;
		justify-content: space-between;
		a{
			padding-left: 0;
			padding-right: 0;
		}
		[type="submit"]{
			margin: 0;
		}
	}
}

.display-none{
	display:none;
}
.modal{
	max-width: 550px;
	width: 100%;
	padding: 50px;
	.content{
		padding: 65px 0;
	}
	.buttons{
		a:not(:first-child){
			margin-left: 15px;
		}
	}
	.toright{
		text-align: right;
	}
	a.close-modal{
		&:before{
			.cups-text();
			color: @accentColor;
		}
	}
}
.jquery-modal{
	.modal.fullview{
		
		.container{
			min-height: calc(100vh - 140px);
			display: flex;
			flex-wrap: wrap;
			align-content: space-between;
			> div{
				flex: 1 100%;
			}
		}
	}
}
.modal.fullview{
	

	.line_top{
		display: flex;
		align-items: center;
		justify-content: space-between;
		.logo{
			max-width: 190px;
			width: 100%;
			a{
				display: block;
				img{
					float: left;
				}
			}
		}
		.close-modal {
			display: block;
			visibility: visible;
			position: initial;
		}
	}
	.menuline{
		label{
			color: @textColor;
		}
		@media(max-width: 600px){
			> *{
				flex: 1 100%;
				text-align: center;
			}
		}
	}
	.content{
		min-height: 300px;
		display: flex;
		align-items: center;
		.tab_panel{
			width: 100%;
		}
		form{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
				 > *{
					@media (max-width: 1100px){
					flex: 1 100%;
					margin-bottom: 10px;
				}
			}
		}
		input:not([type="submit"]){
			min-width: 390px;
			@media (min-width: 1101px){
				margin-left: 30px;
				margin-right: 30px;
			}
			@media(max-width: 500px){
				min-width: 100%;
			}
		}
		input[type="submit"]{
			width: 200px;
			max-width: 200px;
			
		}
	}
}
// FOOTER
footer{
	padding: 110px 0 65px 0;
	margin-top: 90px;
	position: relative;
	&:before{
		content: url(../images/svg-icons/TGB_WatermarkLogo.svg);
		max-width: 170px;
		width: 100%;
		display: inline-block;
		position: absolute;
		left: 50%;
		top: -85px;
		transform: translateX(-50%);
	}
	.container{
		display: flex;
		flex-wrap: wrap;
	}
	.one-half{
		flex: 2 50%;
		&.left{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding-top: 75px;
			padding-right: 20px;
			> nav{
				margin-bottom: -10px;
			}
			.fmenu{
				li{
					margin-bottom: 5px;
				}
			}
		}
		&.right{
			a{
				padding: 0;
				display: block;
				img{
					float: left;
				}
			}
			.hmedium{
				float: right;
				text-decoration: none;
				color: @navColor;
				margin-bottom: 15px;
			}
		}
	}
	ul{
		list-style: none;
	}
	.imagestory{
		display: flex;
		flex-wrap: wrap;
		clear: both;
		> li{
			flex: 3 33.3333%;
			padding: 5px;
		}
	}
	.fmenu{
		display: flex;
		flex-wrap: wrap;
		> div{
			flex: 3 33.3333%;
		}
	}
	.fmenu-line{
		flex: 1 100%;
		li{
			float: left;
		}
	}
	h5{
		font-size: 0.75*@bigHBase !important;
		padding-bottom: 0.75em;
	}
	ul{
		margin: 0;
		padding: 0;
		a{
			text-decoration: none;
			color: #000;
			.link-text();
			font-size: 1.125*@smallCapsBase;
			line-height: 1.25em;
			text-transform: uppercase;
			padding: 9px 0;
			display: inline-block;
			color: @navColor;
			&:hover{
				color: @navColorHover;
			}
		}
		&.fmenu-line{
			 li:not(:last-child){
				margin-right: 20px;
			}
			li:last-child{
				&:before{
					.link-text();
					content: '/';
					position: relative;
					left: -10px;
					font-size: 9px;
				}
			}
			a{
				.link-text();
				display: inline-block;
				padding: 0;
				font-size: 9px;
				line-height: 30px;
			}
		}
	} 
}



.tab_panel{
	display: none;
	&.active{
		display: block;
	}
}

/*---------------------------------------------------------------------------*/
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 100%;
    /* 20px */
    display: block;
}

.no-js .inputfile + label {
    display: none;
}



/* style 6 */
.inputfile{
	width: 0;
	height: 0;
	overflow: hidden;
	
	& + label{
		span{
			display: block;
		}
		.pseudo {
			.input-text();
			.inputStyle();
			border: 1px solid @accentColor;
			width: 100%;
			height: 45px;
			line-height: 45px;
			display: inline-block;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			vertical-align: top;
			margin-bottom: 15px;
			text-align: left;
		}
		.content{
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			max-width: 100%;
			width: 100%;
			padding: 0;
		}
		.text{
			.p-text();
			color: @textColor;
			text-transform: none;
			text-align: left;
			padding-right: 30px;
		}
		.btn{
			white-space: nowrap;
		}
	}
} 


