@import 'colors.less';
.p-text(){
	font-family: 'GothamBook';
	letter-spacing: 0.0125em;
	color: #010101;
	font-size: 14px;
	line-height: 18px;
	a{
		color: #010101;
		text-decoration: none;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			left: -1px;
			right: -1px;
			bottom: -2px;
			height: 1px;
			display: inline-block;
			background: #a3a3a3;
		}
	}
}
ol, ul{
	margin-left: 15px;
	li{
		font-family: 'GothamBook';
		letter-spacing: 0.0125em;
		color: #010101;
		font-size: 14px;
		line-height: 18px;	

		padding-bottom: 1em;
	}
}

.heading-text(){
	font-family: 'Canela';
	letter-spacing: 0.05em;
	
}
.cups-text(){
	font-family: 'Gotham';
	letter-spacing: 0.2em;
}
.button-text(){
	font-family: 'Gotham';
	letter-spacing: 0.2em;
}
.input-text(){
	font-family: 'Gotham';
	letter-spacing: 0.2em;
}
.link-text(){
	font-family: 'Gotham';
	letter-spacing: 0.2em;	
}
/* -------------------------------------------------------  */
p{
	.p-text();
}
.hbig{
	.heading-text();
	font-size: @bigHBase;
	font-weight: 400;
	line-height: 1.25em;
	color: @headingColor;
	a{
		color: @headingColor;
		text-decoration: none;
	}

}
.hmedium{
	.heading-text();
	font-size: @medHBase;
	font-weight: 400;
	line-height: 1.25em;
	letter-spacing: 0.05em;
	color: @headingColor;
	a{
		color: @headingColor;
		text-decoration: none;
	}
	
}
.hcups{
	.cups-text();
	font-size: @subHBase;
	font-weight: 500;
	line-height: 2.5em;
	letter-spacing: 0.2em;

	text-transform: uppercase;
	border-bottom: 1px solid @accentColor;
}
.hlinks{
	margin-bottom: 30px;
}
.h90{
	writing-mode: vertical-lr;
	
	padding-top: 100px;
	text-align: left;
}
.h-90{
	writing-mode: vertical-lr;
	transform: rotate(-180deg);
	padding-bottom: 100px;
	text-align: right;
}

.inputStyle(){
	border: none;
	color: @inputColor;
	padding: 0 30px;
	background: #fff;
	outline: none;
	display: inline-block;
	line-height: 50px;
}
.btn{
	&:not(.nobg){
		background-color: @btnBgColor;
	}
	color: @btnColor;
	padding:0 20px;
	display: inline-block;
	text-decoration: none;
	letter-spacing: 0.125em;
	.button-text();
	font-size: @btnBase;
	line-height: @btnBase;
	font-weight: 500;

	text-transform: uppercase;
	padding: 10px 30px 10px 25px;
	&:not(.noicon){
		&:before{
			content: '+ ';
		}
	}
	&.btn-del{
		&:before{
			content: 'x ';
		}	
	}
	&.btn-big{
		padding:17px 35px;
	}
	&.btn-fixed{
		padding-left: 0;
		padding-right: 0;
		max-width: 237px;
		width: 100%;
		text-align: center;
	}

}
button, [type="button"], [type="reset"], [type="submit"]{
	appearance: none;
	border: none;
	outline: none;
	box-shadow: none;
	cursor: pointer;
}

[data-text]{
	span{
		display: none;
	}
}
[data-count]{
	position: relative;
	&:before{
		content: attr(data-count);
		position: absolute;
		left: -35px;
		top: 60px;
		font-size: 10px;
		.cups-text();
	}
}

// forms styling

::placeholder {
	text-transform: uppercase;
	color: @inputColorPlaceholder;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
label,
.select,
textarea{
	.input-text();
	text-transform: uppercase;
	font-size: 	 @inputBase;
	line-height: @inputBase;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea{
	.inputStyle();
}
input[type="text"].alternate,
input[type="email"].alternate,
input[type="tel"].alternate,
input[type="password"].alternate{
	border-bottom: 1px solid @accentColor;
	padding-left: 0;
	padding-right: 0;
}

textarea{
	text-transform: none;
	line-height: 1.75em;
	padding: 10px 10px 10px 30px;
	min-height: 100px;
	resize: none;
}
label{
	color: @accentColor;
	text-transform: uppercase;
	margin-right: 10px;
}
input, label{
	margin: 0 0px;
	letter-spacing: 0.2em;
}
.input-wrap{
	padding: 15px 0;
	label{
		color: @textColor;
	}
}
.size-full{
	width: 100%;
}
.size-onehalf{
	flex: 2 calc(50% - 10px);
	max-width: calc(50% - 10px);
	width: calc(50% - 10px);
}
.checkbox{
	
	display: inline-block;
	position: relative;
	padding-left: 25px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	user-select: none;
	

	.styled{
		position: absolute;
		top: 0;
		left: 0;
		height: 15px;
		width: 15px;
		display: inline-block;
		background-color: #fff;
		border: 1px solid @accentColor;
	}
	input{
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}
	&:hover input ~ .styled {
	}
	input:checked ~ .styled {
		&:after{
			content: '';
			position: absolute;
			left: 4px;
			top: 1px;
			width: 3px;
			height: 6px;
			border: solid #c38d4d;
			border-width: 0 2px 3px 0;
			transform: rotate(45deg);
		}
	}
}



.form-flex{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 20px 0;
	input{
		margin-bottom: 20px;
		
	}
	.size-onehalf{
		flex: 2 calc(50% - 10px);
		max-width: calc(50% - 10px);
		width: calc(50% - 10px);
	}
}
.select {
	position: relative;
	.input-text();
}

.select select {
	display: none; /*hide original SELECT element: */
}

.select-selected {
	background-color: @inputBGColor;
	font-size: 	 @inputBase;
	line-height: @inputBase;
}

/* Style the arrow inside the select element: */
.select-selected:after {
	position: absolute;
	content: "+";
	font-size: 12px;
	line-height: 18px;
	top: 50%;
	margin-top: -9px;
	right: 4px;
	display: block;
	width: 18px;
	height: 18px;
	text-align: center;
	font-weight: bold;

  // border: 6px solid transparent;
  // border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  // border-color: transparent transparent #fff transparent;
  content: '-';
  top: 50%;
  margin-top: -9px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
	color: @inputColor;
	padding: 20px 15px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.05) transparent;
	cursor: pointer;
}

/* Style items (options): */
.select-items {
	position: absolute;
	background-color: @inputBGColor;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.05);
}


.form-borders{
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="password"],
	textarea,
	.select,
	.select-items{
		border: 1px solid @accentColor;
	}
	.select-selected{
		padding-top: 19px;
		padding-bottom: 19px;
	}
}



.box{
	display: block;
}
.a-listing{
	list-style: none;	
	
	&.flex{
		display: flex;
		flex-wrap: wrap;
		li{
			flex: 2 50%;	
		}	
	}
	&.horizontal{
		display: flex;
		flex-wrap: wrap;
		li{
			// flex: 2 50%;	
		}	
	}
	li{
		
		.cups-text();
		color: @textColor;
		text-transform: uppercase;
		font-size: 10px;
		line-height: 15px;
		&.text{
			padding-left: 14px;
		}
	}
	span{
		display: inline-block;
	}
	a{
		
		text-decoration: none;
		
		line-height: 20px;
		padding: 5px 0;
		display: inline-block;
		color: @linkColor;
		&:hover,
		&:focus,
		&.active{
			color: @accentColor;
		}
		&:before{
			content: '+ ';
		}
	}
}

.article{
	.content{
		padding: 65px 0;
		h1{
			padding: 7px 0;
			margin-bottom: 30px;

		}
		h2.hcups{
			margin-bottom: 24px;

		}
		.hmedium{
			padding: 28px 0;
		}
		p{
			padding-bottom: 24px;
			line-height: 24px;
		}
		.a-listing{
			padding-bottom: 46px;
		}
	}
}


.share-box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	div{
		display: flex;
		flex-wrap: wrap;
	}
	ul{
		display: flex;
		flex-wrap: wrap;
		li{
			list-style: none;
			margin-left: 18px;
		}
	}
	span{
		.link-text();
		font-size: 10px;
		line-height: 2em;
		color: @textColor;
		text-transform: uppercase;
	}
	a{
		.link-text();
		font-size: 10px;
		line-height: 2em;
		display: inline-block;
		text-decoration: none;
		color: @linkColor;
		text-transform: uppercase;
		&:before{
			content: '+ ';
		}
	}
}
.modal a.close-modal{
	.button-text();
	text-transform: uppercase;
	font-size: 10px;
	color: @linkColor;
	&:after{
		font-size: 12px;
	}

}