ol,
ul {
  margin-left: 15px;
}
ol li,
ul li {
  font-family: 'GothamBook';
  letter-spacing: 0.0125em;
  color: #010101;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 1em;
}
/* -------------------------------------------------------  */
p {
  font-family: 'GothamBook';
  letter-spacing: 0.0125em;
  color: #010101;
  font-size: 14px;
  line-height: 18px;
}
p a {
  color: #010101;
  text-decoration: none;
  position: relative;
}
p a:after {
  content: '';
  position: absolute;
  left: -1px;
  right: -1px;
  bottom: -2px;
  height: 1px;
  display: inline-block;
  background: #a3a3a3;
}
.hbig {
  font-family: 'Canela';
  letter-spacing: 0.05em;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.25em;
  color: #000000;
}
.hbig a {
  color: #000000;
  text-decoration: none;
}
.hmedium {
  font-family: 'Canela';
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing: 0.05em;
  color: #000000;
}
.hmedium a {
  color: #000000;
  text-decoration: none;
}
.hcups {
  font-family: 'Gotham';
  font-size: 10px;
  font-weight: 500;
  line-height: 2.5em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border-bottom: 1px solid #c38d4d;
}
.hlinks {
  margin-bottom: 30px;
}
.h90 {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  padding-top: 100px;
  text-align: left;
}
.h-90 {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  transform: rotate(-180deg);
  padding-bottom: 100px;
  text-align: right;
}
.btn {
  color: #010101;
  padding: 0 20px;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0.125em;
  font-family: 'Gotham';
  letter-spacing: 0.2em;
  font-size: 9px;
  line-height: 9px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 30px 10px 25px;
}
.btn:not(.nobg) {
  background-color: #c38d4d;
}
.btn:not(.noicon):before {
  content: '+ ';
}
.btn.btn-del:before {
  content: 'x ';
}
.btn.btn-big {
  padding: 17px 35px;
}
.btn.btn-fixed {
  padding-left: 0;
  padding-right: 0;
  max-width: 237px;
  width: 100%;
  text-align: center;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}
[data-text] span {
  display: none;
}
[data-count] {
  position: relative;
}
[data-count]:before {
  content: attr(data-count);
  position: absolute;
  left: -35px;
  top: 60px;
  font-size: 10px;
  font-family: 'Gotham';
  letter-spacing: 0.2em;
}
:-ms-input-placeholder {
  text-transform: uppercase;
  color: #010101;
}
::placeholder {
  text-transform: uppercase;
  color: #010101;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
label,
.select,
textarea {
  font-family: 'Gotham';
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
  border: none;
  color: #010101;
  padding: 0 30px;
  background: #fff;
  outline: none;
  display: inline-block;
  line-height: 50px;
}
input[type="text"].alternate,
input[type="email"].alternate,
input[type="tel"].alternate,
input[type="password"].alternate {
  border-bottom: 1px solid #c38d4d;
  padding-left: 0;
  padding-right: 0;
}
textarea {
  text-transform: none;
  line-height: 1.75em;
  padding: 10px 10px 10px 30px;
  min-height: 100px;
  resize: none;
}
label {
  color: #c38d4d;
  text-transform: uppercase;
  margin-right: 10px;
}
input,
label {
  margin: 0 0px;
  letter-spacing: 0.2em;
}
.input-wrap {
  padding: 15px 0;
}
.input-wrap label {
  color: #010101;
}
.size-full {
  width: 100%;
}
.size-onehalf {
  -ms-flex: 2 calc(50% - 10px);
      flex: 2 calc(50% - 10px);
  max-width: calc(50% - 10px);
  width: calc(50% - 10px);
}
.checkbox {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.checkbox .styled {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #c38d4d;
}
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox input:checked ~ .styled:after {
  content: '';
  position: absolute;
  left: 4px;
  top: 1px;
  width: 3px;
  height: 6px;
  border: solid #c38d4d;
  border-width: 0 2px 3px 0;
  transform: rotate(45deg);
}
.form-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0;
}
.form-flex input {
  margin-bottom: 20px;
}
.form-flex .size-onehalf {
  -ms-flex: 2 calc(50% - 10px);
      flex: 2 calc(50% - 10px);
  max-width: calc(50% - 10px);
  width: calc(50% - 10px);
}
.select {
  position: relative;
  font-family: 'Gotham';
  letter-spacing: 0.2em;
}
.select select {
  display: none;
  /*hide original SELECT element: */
}
.select-selected {
  background-color: #ffffff;
  font-size: 10px;
  line-height: 10px;
}
/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "+";
  font-size: 12px;
  line-height: 18px;
  top: 50%;
  margin-top: -9px;
  right: 4px;
  display: block;
  width: 18px;
  height: 18px;
  text-align: center;
  font-weight: bold;
}
/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  content: '-';
  top: 50%;
  margin-top: -9px;
}
/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #010101;
  padding: 20px 15px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.05) transparent;
  cursor: pointer;
}
/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #ffffff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}
.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.05);
}
.form-borders input[type="text"],
.form-borders input[type="email"],
.form-borders input[type="tel"],
.form-borders input[type="password"],
.form-borders textarea,
.form-borders .select,
.form-borders .select-items {
  border: 1px solid #c38d4d;
}
.form-borders .select-selected {
  padding-top: 19px;
  padding-bottom: 19px;
}
.box {
  display: block;
}
.a-listing {
  list-style: none;
}
.a-listing.flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.a-listing.flex li {
  -ms-flex: 2 50%;
      flex: 2 50%;
}
.a-listing.horizontal {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.a-listing li {
  font-family: 'Gotham';
  letter-spacing: 0.2em;
  color: #010101;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 15px;
}
.a-listing li.text {
  padding-left: 14px;
}
.a-listing span {
  display: inline-block;
}
.a-listing a {
  text-decoration: none;
  line-height: 20px;
  padding: 5px 0;
  display: inline-block;
  color: #010101;
}
.a-listing a:hover,
.a-listing a:focus,
.a-listing a.active {
  color: #c38d4d;
}
.a-listing a:before {
  content: '+ ';
}
.article .content {
  padding: 65px 0;
}
.article .content h1 {
  padding: 7px 0;
  margin-bottom: 30px;
}
.article .content h2.hcups {
  margin-bottom: 24px;
}
.article .content .hmedium {
  padding: 28px 0;
}
.article .content p {
  padding-bottom: 24px;
  line-height: 24px;
}
.article .content .a-listing {
  padding-bottom: 46px;
}
.share-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.share-box div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.share-box ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.share-box ul li {
  list-style: none;
  margin-left: 18px;
}
.share-box span {
  font-family: 'Gotham';
  letter-spacing: 0.2em;
  font-size: 10px;
  line-height: 2em;
  color: #010101;
  text-transform: uppercase;
}
.share-box a {
  font-family: 'Gotham';
  letter-spacing: 0.2em;
  font-size: 10px;
  line-height: 2em;
  display: inline-block;
  text-decoration: none;
  color: #010101;
  text-transform: uppercase;
}
.share-box a:before {
  content: '+ ';
}
.modal a.close-modal {
  font-family: 'Gotham';
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 10px;
  color: #010101;
}
.modal a.close-modal:after {
  font-size: 12px;
}
