/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ol,
ul {
  margin-left: 15px;
}
ol li,
ul li {
  font-family: 'GothamBook';
  letter-spacing: 0.0125em;
  color: #010101;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 1em;
}
/* -------------------------------------------------------  */
p {
  font-family: 'GothamBook';
  letter-spacing: 0.0125em;
  color: #010101;
  font-size: 14px;
  line-height: 18px;
}
p a {
  color: #010101;
  text-decoration: none;
  position: relative;
}
p a:after {
  content: '';
  position: absolute;
  left: -1px;
  right: -1px;
  bottom: -2px;
  height: 1px;
  display: inline-block;
  background: #a3a3a3;
}
.hbig {
  font-family: 'Canela';
  letter-spacing: 0.05em;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.25em;
  color: #000000;
}
.hbig a {
  color: #000000;
  text-decoration: none;
}
.hmedium {
  font-family: 'Canela';
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing: 0.05em;
  color: #000000;
}
.hmedium a {
  color: #000000;
  text-decoration: none;
}
.hcups {
  font-family: 'Gotham';
  font-size: 10px;
  font-weight: 500;
  line-height: 2.5em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border-bottom: 1px solid #c38d4d;
}
.hlinks {
  margin-bottom: 30px;
}
.h90 {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  padding-top: 100px;
  text-align: left;
}
.h-90 {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  transform: rotate(-180deg);
  padding-bottom: 100px;
  text-align: right;
}
.btn {
  color: #010101;
  padding: 0 20px;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0.125em;
  font-family: 'Gotham';
  letter-spacing: 0.2em;
  font-size: 9px;
  line-height: 9px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 30px 10px 25px;
}
.btn:not(.nobg) {
  background-color: #c38d4d;
}
.btn:not(.noicon):before {
  content: '+ ';
}
.btn.btn-del:before {
  content: 'x ';
}
.btn.btn-big {
  padding: 17px 35px;
}
.btn.btn-fixed {
  padding-left: 0;
  padding-right: 0;
  max-width: 237px;
  width: 100%;
  text-align: center;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}
[data-text] span {
  display: none;
}
[data-count] {
  position: relative;
}
[data-count]:before {
  content: attr(data-count);
  position: absolute;
  left: -35px;
  top: 60px;
  font-size: 10px;
  font-family: 'Gotham';
  letter-spacing: 0.2em;
}
:-ms-input-placeholder {
  text-transform: uppercase;
  color: #010101;
}
::placeholder {
  text-transform: uppercase;
  color: #010101;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
label,
.select,
textarea {
  font-family: 'Gotham';
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
  border: none;
  color: #010101;
  padding: 0 30px;
  background: #fff;
  outline: none;
  display: inline-block;
  line-height: 50px;
}
input[type="text"].alternate,
input[type="email"].alternate,
input[type="tel"].alternate,
input[type="password"].alternate {
  border-bottom: 1px solid #c38d4d;
  padding-left: 0;
  padding-right: 0;
}
textarea {
  text-transform: none;
  line-height: 1.75em;
  padding: 10px 10px 10px 30px;
  min-height: 100px;
  resize: none;
}
label {
  color: #c38d4d;
  text-transform: uppercase;
  margin-right: 10px;
}
input,
label {
  margin: 0 0px;
  letter-spacing: 0.2em;
}
.input-wrap {
  padding: 15px 0;
}
.input-wrap label {
  color: #010101;
}
.size-full {
  width: 100%;
}
.size-onehalf {
  -ms-flex: 2 calc(50% - 10px);
      flex: 2 calc(50% - 10px);
  max-width: calc(50% - 10px);
  width: calc(50% - 10px);
}
.checkbox {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.checkbox .styled {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #c38d4d;
}
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox input:checked ~ .styled:after {
  content: '';
  position: absolute;
  left: 4px;
  top: 1px;
  width: 3px;
  height: 6px;
  border: solid #c38d4d;
  border-width: 0 2px 3px 0;
  transform: rotate(45deg);
}
.form-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0;
}
.form-flex input {
  margin-bottom: 20px;
}
.form-flex .size-onehalf {
  -ms-flex: 2 calc(50% - 10px);
      flex: 2 calc(50% - 10px);
  max-width: calc(50% - 10px);
  width: calc(50% - 10px);
}
.select {
  position: relative;
  font-family: 'Gotham';
  letter-spacing: 0.2em;
}
.select select {
  display: none;
  /*hide original SELECT element: */
}
.select-selected {
  background-color: #ffffff;
  font-size: 10px;
  line-height: 10px;
}
/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "+";
  font-size: 12px;
  line-height: 18px;
  top: 50%;
  margin-top: -9px;
  right: 4px;
  display: block;
  width: 18px;
  height: 18px;
  text-align: center;
  font-weight: bold;
}
/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  content: '-';
  top: 50%;
  margin-top: -9px;
}
/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #010101;
  padding: 20px 15px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.05) transparent;
  cursor: pointer;
}
/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #ffffff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}
.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.05);
}
.form-borders input[type="text"],
.form-borders input[type="email"],
.form-borders input[type="tel"],
.form-borders input[type="password"],
.form-borders textarea,
.form-borders .select,
.form-borders .select-items {
  border: 1px solid #c38d4d;
}
.form-borders .select-selected {
  padding-top: 19px;
  padding-bottom: 19px;
}
.box {
  display: block;
}
.a-listing {
  list-style: none;
}
.a-listing.flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.a-listing.flex li {
  -ms-flex: 2 50%;
      flex: 2 50%;
}
.a-listing.horizontal {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.a-listing li {
  font-family: 'Gotham';
  letter-spacing: 0.2em;
  color: #010101;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 15px;
}
.a-listing li.text {
  padding-left: 14px;
}
.a-listing span {
  display: inline-block;
}
.a-listing a {
  text-decoration: none;
  line-height: 20px;
  padding: 5px 0;
  display: inline-block;
  color: #010101;
}
.a-listing a:hover,
.a-listing a:focus,
.a-listing a.active {
  color: #c38d4d;
}
.a-listing a:before {
  content: '+ ';
}
.article .content {
  padding: 65px 0;
}
.article .content h1 {
  padding: 7px 0;
  margin-bottom: 30px;
}
.article .content h2.hcups {
  margin-bottom: 24px;
}
.article .content .hmedium {
  padding: 28px 0;
}
.article .content p {
  padding-bottom: 24px;
  line-height: 24px;
}
.article .content .a-listing {
  padding-bottom: 46px;
}
.share-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.share-box div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.share-box ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.share-box ul li {
  list-style: none;
  margin-left: 18px;
}
.share-box span {
  font-family: 'Gotham';
  letter-spacing: 0.2em;
  font-size: 10px;
  line-height: 2em;
  color: #010101;
  text-transform: uppercase;
}
.share-box a {
  font-family: 'Gotham';
  letter-spacing: 0.2em;
  font-size: 10px;
  line-height: 2em;
  display: inline-block;
  text-decoration: none;
  color: #010101;
  text-transform: uppercase;
}
.share-box a:before {
  content: '+ ';
}
.modal a.close-modal {
  font-family: 'Gotham';
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 10px;
  color: #010101;
}
.modal a.close-modal:after {
  font-size: 12px;
}
body {
  color: #010101;
  font-weight: 400;
}
.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}
.container1010 {
  max-width: 1010px;
  width: 100%;
  margin: 0 auto;
}
.container-small {
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
}
.flex-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flex-to-right {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}
.flex-to-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}
.nopad-right {
  padding-right: 0;
}
img {
  width: 100%;
  height: auto;
}
.margin-center {
  margin: 0 auto;
  display: table;
}
.bgaccent {
  background: #f7f6f5;
}
.border-top {
  border-top: 1px solid #c38d4d;
}
.toright {
  float: right;
}
.menuline {
  -ms-flex-align: center;
      align-items: center;
  margin: 0;
}
.menuline li {
  padding-bottom: 0;
  margin-left: 45px;
}
.topline {
  background-color: #f7f6f5;
}
.topline .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 0;
  max-width: 1210px;
  margin-bottom: 20px;
}
.topline a {
  text-decoration: none;
  font-family: 'Gotham';
  font-size: 10px;
  line-height: 1em;
  letter-spacing: 0.2em;
  color: #010101;
  text-transform: uppercase;
  padding: 17px 15px;
  display: inline-block;
}
.topline a:hover {
  color: #010101;
}
.topline ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  margin: 0;
  padding: 0;
}
.topline ul li {
  padding: 0;
  list-style: none;
}
.topline ul li:not(:last-child):after {
  content: '|';
}
header .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 0 0 25px 0;
  margin-bottom: 25px;
}
header .logo {
  max-width: 190px;
  width: 100%;
  padding-left: 30px;
}
header .logo a {
  display: block;
}
header .logo a img {
  float: left;
}
header ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  margin: 0;
  padding: 0;
}
header ul li {
  list-style: none;
  padding: 0;
}
header ul a {
  text-decoration: none;
  font-family: 'Gotham';
  font-size: 12px;
  line-height: 1.25em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 14px 25px;
  display: inline-block;
  color: #010101;
}
header ul a:hover {
  color: #010101;
}
.hlinks {
  list-style: none;
}
.hlinks a:before {
  content: '+ ';
  font-weight: bold;
}
.hero {
  position: relative;
  margin-bottom: 62.5px;
}
.hero .container {
  max-width: 1010px;
}
.hero .event-data {
  margin-bottom: 30px;
}
.hero .event-data p {
  line-height: 45px;
}
.hero .image {
  max-width: 55.73%;
  height: auto;
  width: 100%;
}
.hero h1 {
  margin: 0 0 21px 0;
}
.hero .content {
  background: #f7f6f5;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  right: 0%;
  max-width: 57%;
  padding: 50px 110px 62.5px 84px;
  margin-top: -33px;
}
.hero .content.padding-same {
  padding-right: 90px;
}
.hero.hero-v2 {
  margin-bottom: 160px;
  max-width: 962.5px;
}
.hero.hero-v2 .image {
  max-width: 80%;
  height: auto;
  width: 100%;
}
.hero.hero-v2 .content {
  background: #f7f6f5;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  top: auto;
  bottom: -100px;
  transform: none;
}
.flex-to-right .hero.container-small {
  margin-left: initial;
  margin-right: initial;
  margin-top: 25px;
}
.searchbox {
  padding: 65px 0;
}
.searchbox .btn {
  margin-left: 20px;
}
.searchbox .select {
  max-width: 200px;
  width: 100%;
}
.searchbox .flex-search {
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.searchbox .flex-search input[type="text"],
.searchbox .flex-search input[type="email"],
.searchbox .flex-search input[type="tel"] {
  border: none;
  color: #010101;
  padding: 0 30px;
  background: #fff;
  outline: none;
  display: inline-block;
  line-height: 50px;
  min-width: 300px;
  margin-left: 20px;
}
.searchbox .flex-search.search-style2 input[type="text"],
.searchbox .flex-search.search-style2 .select {
  max-width: 230px;
}
.searchbox .flex-search .select,
.searchbox .flex-search input[type="text"] {
  max-width: 251px;
  min-width: initial;
  width: 100%;
}
.searchbox .flex-search .btn,
.searchbox .flex-search input[type="text"] {
  margin: 0;
}
.card {
  position: relative;
  margin-bottom: 65px;
}
.card p {
  padding-left: 30px;
}
.card .content {
  background: #fff;
  max-width: 390px;
  position: absolute;
  z-index: 2;
  padding-top: 30px;
  bottom: 0;
  left: 35px;
  padding: 40px 35px 35px 70px;
}
.card .content a.btn {
  position: absolute;
  right: 55px;
  top: -15px;
}
.card .image {
  position: relative;
  height: 400px;
  overflow: hidden;
}
.card .image img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.card .image span {
  font-family: 'GothamBook';
  letter-spacing: 0.0125em;
  color: #010101;
  font-size: 14px;
  line-height: 18px;
  font-size: 10px;
  line-height: 1.25em;
  color: #c38d4d;
  text-transform: uppercase;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 2;
}
.card .image span a {
  color: #010101;
  text-decoration: none;
  position: relative;
}
.card .image span a:after {
  content: '';
  position: absolute;
  left: -1px;
  right: -1px;
  bottom: -2px;
  height: 1px;
  display: inline-block;
  background: #a3a3a3;
}
.card-big {
  -ms-flex: 2    54%;
      flex: 2    54%;
  max-width: 54%;
  width: 54%;
}
.card-big .image {
  width: 100%;
  margin-bottom: 75px;
}
.card-medium {
  -ms-flex: 2 calc(50% - 32.5px);
      flex: 2 calc(50% - 32.5px);
  max-width: calc(50% - 32.5px);
  width: calc(50% - 32.5px);
}
.card-medium .image {
  width: calc(100% - 130px);
  margin-right: 130px;
  margin-bottom: 75px;
}
.card-medium .content {
  background: #f7f6f5;
}
.card-small {
  -ms-flex: 2    38%;
      flex: 2    38%;
  max-width: 38%;
  width: 38%;
}
.card-small .image {
  width: calc(100% - 130px);
  margin-right: 130px;
}
.card .btn {
  padding-right: 25px;
}
.card .btn:hover,
.card .btn:focus {
  transition: width 1s linear;
}
.card .btn:hover:before,
.card .btn:focus:before {
  content: '+ ' attr(data-text);
}
.card .heading {
  padding: 0;
  margin-bottom: 1em;
  max-height: 2.7em;
  height: 2.7em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}
.card .heading + p {
  max-height: 4em;
  height: 4em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
}
.type1 {
  padding: 65px 0;
}
.type1 .flex-wrap .heading {
  max-width: 85px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
}
.type1 .flex-wrap .content {
  max-width: calc(100% - 85px);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.type1 .flex-wrap .content .image {
  -ms-flex: 2 47.771%;
      flex: 2 47.771%;
  max-width: 47.771%;
  width: 47.771%;
}
.type1 .flex-wrap .content-inner {
  -ms-flex: 2 52.229%;
      flex: 2 52.229%;
  max-width: 52.229%;
  width: 52.229%;
  padding-left: 147.55px;
  padding-right: 65px;
  padding-top: 32.5px;
}
.type1 .flex-wrap .content p {
  padding-bottom: 1em;
}
.type1 .flex-wrap .btn-margin {
  margin-top: 23px;
}
.type1 h3 {
  position: relative;
  display: table;
  padding-bottom: 24px;
}
.type1 h3 span {
  width: 78px;
  margin-left: -78px;
  display: inline-block;
  position: relative;
  bottom: 3px;
}
.type1 h3 img {
  max-width: 44px;
}
.type2 {
  padding: 65px 0;
}
.type2 h1 {
  padding-bottom: 50px;
}
.type2 h2 {
  padding-bottom: 50px;
}
.type2 h3 {
  padding-bottom: 1em;
}
.type2 .flex-wrap {
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: stretch;
      align-items: stretch;
  margin-bottom: -65px;
}
.type2 .container {
  padding-left: 30px;
}
.type-related {
  padding: 65px 0;
}
.type-related .heading {
  -ms-flex: 2     85px;
      flex: 2     85px;
  max-width: 85px;
  width: 85px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}
.type-related .content-inner {
  -ms-flex: 2 calc(100% - 85px);
      flex: 2 calc(100% - 85px);
  max-width: calc(100% - 85px);
  width: calc(100% - 85px);
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.type-related .card-medium {
  -ms-flex: 2 calc(50% - 32.5px);
      flex: 2 calc(50% - 32.5px);
  max-width: calc(50% - 32.5px);
  width: calc(50% - 32.5px);
}
.type-related .h90,
.type-related .h-90 {
  padding: 0;
}
.type3 {
  padding: 75px 0;
}
.type3 .flex-wrap .heading {
  max-width: 85px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}
.type3 .flex-wrap .heading h2 {
  padding-top: 100px;
}
.type3 .flex-wrap .content {
  max-width: calc(100% - 85px);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
}
.type3 .flex-wrap .content .image {
  -ms-flex: 2  55%;
      flex: 2  55%;
  max-width: 55%;
  width: 55%;
}
.type3 .flex-wrap .content-inner {
  -ms-flex: 2  45%;
      flex: 2  45%;
  max-width: 45%;
  width: 45%;
  padding-left: 40px;
  padding-right: 60px;
}
.type3 .flex-wrap .content-inner > div {
  padding: 30px 0;
}
.type3 .flex-wrap .content-inner p {
  font-size: 14px;
  line-height: 24px;
}
.type3 .flex-wrap .content p {
  padding-bottom: 1em;
}
.type3-v2 {
  padding: 75px 0;
}
.type3-v2 .flex-wrap .heading {
  max-width: 55px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}
.type3-v2 .flex-wrap .heading h2 {
  padding-top: 100px;
}
.type3-v2 .flex-wrap .content {
  max-width: calc(100% - 55px);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.type3-v2 .flex-wrap .content .image {
  -ms-flex: 2    42%;
      flex: 2    42%;
  max-width: 42%;
  width: 42%;
}
.type3-v2 .flex-wrap .content-inner:not(.wide) {
  -ms-flex: 2  45%;
      flex: 2  45%;
  max-width: 45%;
  width: 45%;
  padding-left: 40px;
  padding-right: 60px;
}
.type3-v2 .flex-wrap .content-inner:not(.wide) > div {
  padding: 30px 0;
}
.type3-v2 .flex-wrap .content-inner:not(.wide) p {
  font-size: 14px;
  line-height: 24px;
}
.type3-v2 .flex-wrap .content-inner.wide {
  -ms-flex: 2 calc(58% - 54px);
      flex: 2 calc(58% - 54px);
  max-width: calc(58% - 54px);
  width: calc(58% - 54px);
  margin-left: 54px;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.type3-v2 .flex-wrap .content p {
  padding-bottom: 1em;
}
.type3-v2 .flex-wrap .hmedium {
  line-height: 45px;
  padding: 15px 0;
}
.type4 {
  padding: 65px 0;
}
.type4 .container {
  position: relative;
}
.type4 .content {
  background: #f7f6f5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 540px;
  width: 100%;
  left: 63px;
  padding: 50px 75px;
}
.type4 .content h2 {
  margin: 0.67em 0;
  font-size: 36px;
  line-height: 45px;
}
.type5 {
  padding: 65px 0;
}
.type5 .container {
  position: relative;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: stretch;
      align-items: stretch;
}
.type5 .heading {
  -ms-flex: 2 350px;
      flex: 2 350px;
  max-width: 350px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.type5 .content {
  -ms-flex: 2    620px;
      flex: 2    620px;
  max-width: 620px;
  padding-top: 50px;
}
.type5 .hbig {
  margin: 0.67em 0;
  font-size: 36px;
  line-height: 45px;
}
.type-404 {
  padding: 65px 0;
}
.type-404 .hbig {
  margin-bottom: 65px;
}
.type-404 .flex-wrap {
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.type-content {
  padding: 75px 0;
}
.type-content .form-flex {
  margin: 0;
  padding: 0;
}
.type-content .form-flex .select {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.type-content .container1010 {
  position: relative;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: stretch;
      align-items: stretch;
}
.type-content .heading {
  -ms-flex: 2 calc(50% - 15px);
      flex: 2 calc(50% - 15px);
  max-width: calc(50% - 15px);
  width: calc(50% - 15px);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.type-content hgroup {
  width: 100%;
}
.type-content hgroup .hcups {
  display: table;
  max-width: 350px;
  width: 100%;
}
.type-content hgroup .hbig {
  max-width: 350px;
}
.type-content .content {
  -ms-flex: 2 calc(50% - 15px);
      flex: 2 calc(50% - 15px);
  max-width: calc(50% - 15px);
  width: calc(50% - 15px);
  padding-top: 65px;
}
.type-content .content p {
  line-height: 24px;
  margin-bottom: 24px;
}
.type-content [type="submit"] {
  margin-top: 15px;
}
.type-content .hbig {
  margin: 0.67em 0;
  font-size: 36px;
  line-height: 45px;
}
.type-content .hmedium {
  padding: 15px 0 5px 0;
}
.type-content .a-listing {
  padding-bottom: 20px;
}
.signup h4 {
  font-family: 'Gotham';
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 30px;
  padding: 10px 0 20px 0;
}
.signup .field-wrap {
  text-align: right;
  width: 100%;
}
.heading-top {
  max-width: 400px;
}
.heading-top p {
  padding: 10px 0;
}
.heading-top a {
  margin-top: 30px;
}
.faq-list {
  margin: 40px 80px;
}
.faq-list dt {
  font-family: 'Canela';
  letter-spacing: 0.05em;
  font-size: 24px;
  line-height: 32px;
  padding: 18px 0;
  cursor: pointer;
}
.faq-list dd {
  padding-left: 50%;
  position: relative;
  font-family: 'GothamBook';
  letter-spacing: 0.0125em;
  color: #010101;
  line-height: 18px;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
}
.faq-list dd a {
  color: #010101;
  text-decoration: none;
  position: relative;
}
.faq-list dd a:after {
  content: '';
  position: absolute;
  left: -1px;
  right: -1px;
  bottom: -2px;
  height: 1px;
  display: inline-block;
  background: #a3a3a3;
}
.faq-list dd:not(.active) {
  display: none;
}
.faq-list dd:before {
  content: '';
  position: absolute;
  left: 0;
  top: 12px;
  width: calc(50% - 20px);
  height: 1px;
  display: inline-block;
  background: #c38d4d;
}
.steps > div {
  background: #fff;
  margin-bottom: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  padding: 15px 0;
  cursor: pointer;
}
.steps .arrow {
  background: #c38d4d;
  width: 30px;
  height: 75px;
  -ms-flex: 2 30px;
      flex: 2 30px;
  display: inline-block;
  position: relative;
}
.steps .arrow:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 5px;
  height: 5px;
  border: solid #010101;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg) translate(calc(-50% + 3px), calc(-50% - 3px));
}
.steps .hmedium {
  -ms-flex: 2 calc(100% - 30px);
      flex: 2 calc(100% - 30px);
  padding-left: 50px !important;
  position: relative;
}
.steps .hmedium:before {
  top: 10px;
  left: 20px;
  color: #c38d4d;
}
.steps .hmedium img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 35px;
  display: none;
}
.steps .expand {
  -ms-flex: 1 100%;
      flex: 1 100%;
  padding: 0 20px 0 80px;
  display: none;
}
.steps > div.active .expand {
  display: block;
}
.steps > div.active .hmedium img {
  display: block;
}
.cta-box {
  padding: 65px 0;
  margin-bottom: 30px;
}
.cta-box .container {
  max-width: 1010px;
}
.cta-box .flex-wrap {
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.cta-box .cta-links {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
}
.cta-box .cta-links li {
  padding: 0;
}
.cta-box .cta-links a {
  min-width: 300px;
  width: 100%;
  text-align: center;
}
.cta-box .cta-links li:not(:first-child) {
  margin-left: 20px;
}
.cta-box .heading {
  font-family: 'Gotham';
  letter-spacing: 0.2em;
  color: #c38d4d;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
}
.logo-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.logo-list:after {
  content: "";
  max-width: 175px;
  width: 100%;
  padding: 15px 10px;
  display: inline-block;
}
.logo-list li {
  list-style: none;
  max-width: 175px;
  padding: 15px 10px;
}
.logo-list:not(.active) li:nth-child(n + 10) {
  display: none;
}
.logo-list a {
  display: block;
}
.logo-list a img {
  float: left;
}
.prev-next-box {
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.pagination-box:not(.no-padding) {
  padding: 0 0 65px 0;
}
.pagination {
  margin-bottom: 65px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.pagination a {
  color: #010101;
  text-decoration: none;
  font-family: 'Gotham';
  letter-spacing: 0.2em;
  font-size: 10px;
  line-height: 2em;
  text-transform: uppercase;
}
.pagination a:hover,
.pagination a:focus,
.pagination a.active {
  color: #c38d4d;
}
.pagination ul li {
  float: left;
  list-style: none;
}
.pagination ul li a {
  padding: 0 8px;
}
.article {
  max-width: 780px;
}
.article .content {
  max-width: 625px;
  margin: 0 auto;
}
.login .hcups {
  display: table;
  max-width: 60%;
  width: 100%;
}
.login .flex-wrap {
  width: 100%;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.login .flex-wrap a {
  padding-left: 0;
  padding-right: 0;
}
.login .flex-wrap [type="submit"] {
  margin: 0;
}
.display-none {
  display: none;
}
.modal {
  max-width: 550px;
  width: 100%;
  padding: 50px;
}
.modal .content {
  padding: 65px 0;
}
.modal .buttons a:not(:first-child) {
  margin-left: 15px;
}
.modal .toright {
  text-align: right;
}
.modal a.close-modal:before {
  font-family: 'Gotham';
  letter-spacing: 0.2em;
  color: #c38d4d;
}
.jquery-modal .modal.fullview .container {
  min-height: calc(100vh - 140px);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.jquery-modal .modal.fullview .container > div {
  -ms-flex: 1 100%;
      flex: 1 100%;
}
.modal.fullview .line_top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.modal.fullview .line_top .logo {
  max-width: 190px;
  width: 100%;
}
.modal.fullview .line_top .logo a {
  display: block;
}
.modal.fullview .line_top .logo a img {
  float: left;
}
.modal.fullview .line_top .close-modal {
  display: block;
  visibility: visible;
  position: initial;
}
.modal.fullview .menuline label {
  color: #010101;
}
@media (max-width: 600px) {
  .modal.fullview .menuline > * {
    -ms-flex: 1 100%;
        flex: 1 100%;
    text-align: center;
  }
}
.modal.fullview .content {
  min-height: 300px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.modal.fullview .content .tab_panel {
  width: 100%;
}
.modal.fullview .content form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
@media (max-width: 1100px) {
  .modal.fullview .content form > * {
    -ms-flex: 1 100%;
        flex: 1 100%;
    margin-bottom: 10px;
  }
}
.modal.fullview .content input:not([type="submit"]) {
  min-width: 390px;
}
@media (min-width: 1101px) {
  .modal.fullview .content input:not([type="submit"]) {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media (max-width: 500px) {
  .modal.fullview .content input:not([type="submit"]) {
    min-width: 100%;
  }
}
.modal.fullview .content input[type="submit"] {
  width: 200px;
  max-width: 200px;
}
footer {
  padding: 110px 0 65px 0;
  margin-top: 90px;
  position: relative;
}
footer:before {
  content: url(../images/svg-icons/TGB_WatermarkLogo.svg);
  max-width: 170px;
  width: 100%;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: -85px;
  transform: translateX(-50%);
}
footer .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .one-half {
  -ms-flex: 2 50%;
      flex: 2 50%;
}
footer .one-half.left {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-top: 75px;
  padding-right: 20px;
}
footer .one-half.left > nav {
  margin-bottom: -10px;
}
footer .one-half.left .fmenu li {
  margin-bottom: 5px;
}
footer .one-half.right a {
  padding: 0;
  display: block;
}
footer .one-half.right a img {
  float: left;
}
footer .one-half.right .hmedium {
  float: right;
  text-decoration: none;
  color: #010101;
  margin-bottom: 15px;
}
footer ul {
  list-style: none;
}
footer .imagestory {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  clear: both;
}
footer .imagestory > li {
  -ms-flex: 3 33.3333%;
      flex: 3 33.3333%;
  padding: 5px;
}
footer .fmenu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .fmenu > div {
  -ms-flex: 3 33.3333%;
      flex: 3 33.3333%;
}
footer .fmenu-line {
  -ms-flex: 1 100%;
      flex: 1 100%;
}
footer .fmenu-line li {
  float: left;
}
footer h5 {
  font-size: 27px !important;
  padding-bottom: 0.75em;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer ul a {
  text-decoration: none;
  color: #000;
  font-family: 'Gotham';
  letter-spacing: 0.2em;
  font-size: 11.25px;
  line-height: 1.25em;
  text-transform: uppercase;
  padding: 9px 0;
  display: inline-block;
  color: #010101;
}
footer ul a:hover {
  color: #010101;
}
footer ul.fmenu-line li:not(:last-child) {
  margin-right: 20px;
}
footer ul.fmenu-line li:last-child:before {
  font-family: 'Gotham';
  letter-spacing: 0.2em;
  content: '/';
  position: relative;
  left: -10px;
  font-size: 9px;
}
footer ul.fmenu-line a {
  font-family: 'Gotham';
  letter-spacing: 0.2em;
  display: inline-block;
  padding: 0;
  font-size: 9px;
  line-height: 30px;
}
.tab_panel {
  display: none;
}
.tab_panel.active {
  display: block;
}
/*---------------------------------------------------------------------------*/
.js .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  max-width: 100%;
  /* 20px */
  display: block;
}
.no-js .inputfile + label {
  display: none;
}
/* style 6 */
.inputfile {
  width: 0;
  height: 0;
  overflow: hidden;
}
.inputfile + label span {
  display: block;
}
.inputfile + label .pseudo {
  font-family: 'Gotham';
  letter-spacing: 0.2em;
  border: none;
  color: #010101;
  padding: 0 30px;
  background: #fff;
  outline: none;
  line-height: 50px;
  border: 1px solid #c38d4d;
  width: 100%;
  height: 45px;
  line-height: 45px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
  margin-bottom: 15px;
  text-align: left;
}
.inputfile + label .content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
  max-width: 100%;
  width: 100%;
  padding: 0;
}
.inputfile + label .text {
  font-family: 'GothamBook';
  letter-spacing: 0.0125em;
  font-size: 14px;
  line-height: 18px;
  color: #010101;
  text-transform: none;
  text-align: left;
  padding-right: 30px;
}
.inputfile + label .text a {
  color: #010101;
  text-decoration: none;
  position: relative;
}
.inputfile + label .text a:after {
  content: '';
  position: absolute;
  left: -1px;
  right: -1px;
  bottom: -2px;
  height: 1px;
  display: inline-block;
  background: #a3a3a3;
}
.inputfile + label .btn {
  white-space: nowrap;
}
